<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Template</title>
    <style type="text/css">
    body{
        background-color: rgb(250, 237, 196);
        text-align: center;
    }
    canvas{
        background-color: rgb(42, 139, 224);
        width:800px;
        height:600px;
    }

    </style>
</head>
<body>

    <canvas id='myCanvas'></canvas>
    <script type="text/javascript" src="myfile.js"> </script>
</body>
</html>